/* assets/style.css */

:root {
  --main-width: 50%;
}


.header {
    font-family: "Lato", sans-serif;
    background-color: #79a2f2;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: var(--main-width);
}

.filters {
    font-family: "Lato", sans-serif;
    display: grid;
    margin-top: 2%;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1em;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 1px .5px .5px grey;
}

.search-filter {
    margin: 5px 5px 0px 5px;
}

.search-bar {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid;
    border-color: #d8d8d8;
    border-radius: 4px;
    font-family: "Lato", sans-serif;
}

.year-filter{
    margin: 5px 5px 0px 5px;
}

.year-dropdown {
    height: 100%;
    margin-top: 5px;
    border-color: #d3d3d3
}

.search-toggle {
    margin-bottom: 5px;
    font-size: .75em;
}

.table {
    margin-top: 8px;
    width: 100%;
    border: 0.5px solid grey;
    table-layout: fixed;
}

.tooltip {
    font-family: "Lato", sans-serif;
}

.footer {
    width: var(--main-width);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #79a2f2;
    color: #FFFFFF;
    text-align: center;
    font-size: .75em;
    font-family: "Lato", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
